html, body {

}
body {
   background-color: #DBDDC0;
}
img {
   height: 250px;
   width: 250px;
}
.pick-a-pic {
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   width: 852px;
   height: 377px;
   margin: auto;
   margin-top: 10%;
   padding: 30px;
   background-color: #5AAEAA;
   border-radius: 2em;
}
.radio-image {
   border: 10px solid transparent;
   align-content: center;
   border-radius: 2em;

}
input:checked + .radio-image {
   border: 10px solid #D05749;
}
input {
   display: none;
}
