* {
   background: hsla(0, 0%, 23%, 1);
}
img {
   height: 250px;
   width: 250px;
}
#headline {
   text-align: center;
   padding: 25px;
   font-size: 3rem;
}
.product-radio {
   background: transparent;
}
.pick-a-pic {
   display: flex;
   justify-content: space-evenly;
   align-content: center;
   align-items: center;
   margin: auto;
   margin-top: 10%;
   padding: 30px;
   border-radius: 2em;
}
.radio-image {
   border: 10px solid transparent;
   align-content: center;
   border-radius: 2em;
   cursor: pointer;
   transition: all 1s ease;
}
input:checked + .radio-image {
   border: 5px solid rgb(18, 125, 187);
 
   /* transform: perspective(400px) scaleZ(1.25) rotateY(360deg); */
}
input {
   display: none;
}
