body {
   background-color: #DBDDC0;
}
img {
height: 250px;
width: 250px;
}
#product-choice-container {
   display: flex;
   justify-content: space-between;
   align-content: center;
   /* width: 700px;
   height: 300px; */
   margin: auto;
   /* margin-top: 10%; */
   padding: 30px;
   background-color: #5AAEAA;
}
input {
   border: 10px solid transparent;
   align-content: center;
}
input:checked + .radio-image {
   border: 10px solid #D05749;
   border-radius: 3px;
   box-shadow: 3px 6px 3px hsla(0, 0%, 10%, 0.89);
}
input {
   /* display: none; */
}